.selected{
    color: #2458a6;
}
.in{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.in option{
    background-color: rgba(0, 0, 0, 0.8);
}

.cont{
    text-overflow: ellipsis;
}

.btn-darki{
    position: absolute;
    bottom: -20px;
    right: 50px;
}

.content{
    color: white;
    transition: all .3s ease-in-out;
}

.modificada select{
    color: #2458a6;
}

.modificada{
    background-color: rgba(0, 0, 0, 0.4);
    color: #2458a6;
}