<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="d-flex text-white">
                <h4 class="h4">Gestionar pisos</h4>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="small text-muted">Actualmente el edificio de la CTC Nacional cuenta con 6 pisos, de
                            estos hay activos: </p>
                        <div class="d-flex  text-white">
                            <div class="h3"><strong>{{pisos.length}}</strong> </div><small
                                class="small m-2">pisos</small>
                        </div>
                        <hr class="hr text-muted">
                        <button class="btn btn-dark" (click)="addPiso()" [disabled]="pisos.length>=6">Adicionar un nuevo
                            piso</button>
                        <button class="btn btn-dark" (click)="deletePiso()" [disabled]="pisos.length<=0">Eliminar ultimo
                            piso</button>
                            <p class="small text-muted">Para eliminar un piso primero se debe de haber eliminado o modificado los tecnicos asociados a este asi como los sindicatos que pertenecen a este piso. Tenga en cuenta que si existe al menos uno de estos dos no le sera posible realizar esta operacion.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column-reverse justify-content-end align-item-end">
            <div class="d-flex" *ngFor="let item of pisos"
                [ngClass]="{'selected':item.numero==piso_selected.numero, 'text-white': item.numero!=piso_selected.numero}"
                (click)="piso_selected= item">
                <h1 class="h4 mt-4"><strong>{{item.numero}}</strong></h1>
                <i class="bi bi-shop display-4"></i>
            </div>
           
        </div>
        <div class="col-sm-6">
            <div class="container">
                <div class="row">
                    <div class="d-flex text-white col-sm-12">
                        <h4 class="h4">Gestionar Sindicatos del piso</h4>
                    </div>
                    <div class="col-sm-12 my-2">
                        <div class="header d-flex">
                            <div class="head text-white font-weight-bold small" style="width: 10%;">
                                <strong>siglas</strong></div>
                            <div class="head text-white font-weight-bold small" style="width: 30%;">
                                <strong>nombre</strong></div>
                            <div class="head text-white font-weight-bold small" style="width: 60%;">
                                <strong>descripcion</strong></div>
                            <div class="head text-white font-weight-bold small" style="width: 10%;">
                                <strong>piso</strong></div>
                        </div>
                        <hr class="text-white">
                    </div>
                    <div class="col-sm-12 position-relative" style="max-height: 300px;overflow-y: auto;">

                        <div class="content p-1 rounded d-flex flex-row  justify-content-center align-item-center"
                            [ngClass]="{'modificada': comprobar(item.id)}" *ngFor="let item of sindicatos">
                            <div class="cont" style="width: 10%;">
                                <p class="small mt-2">{{item.siglas}}</p>
                            </div>
                            <div class="cont" style="width: 30%;">
                                <p class="small mt-2">{{item.nombre}}</p>
                            </div>
                            <div class="cont" style="width: 60%;">
                                <p class="small mt-2">{{item.descripcion}}</p>
                            </div>
                            <div class="cont" style="width: 10%;">
                                <select name="pisos" id="pisos" class="in small" [(ngModel)]="item.piso.id"
                                    (ngModelChange)="addRow(item)">
                                    <option [value]="item.id" *ngFor="let item of pisos">{{item.numero}}</option>
                                </select>
                            </div>



                        </div>
                        <div class="position-absolute d-flex flex-row justify-content-center align-item-center"
                            style="top: 0;left: 0;right: 0;bottom: 0;" *ngIf="false">
                            <div class="spinner-grow mt-4 text-center" role="status">
                                <!-- <span class="sr-only text-white text-shadow">Cargando...</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-row-reverse"><button
                    (click)="aplicar()" [disabled]="cambios.length==0" class="btn btn-dark btn-darki text-white small w-25 shadow-lg">Aplicar
                        cambios</button></div>
            </div>
        </div>
    </div>
</div>