<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="search-container text-white position-relative w-100">
                <i class="bi bi-search position-absolute text-muted"></i>
                <input type="text" class="search-in w-100 rounded pl-2" placeholder="ingrese lo que recuerde">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="d-flex flex-row justify-content-between align-item-center mt-2">
                <div class="btn-icon svg-shadow menu">
                    <div class="icon-content">
                        <img src="assets/icons/noti.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/notihover.apng" class="icon-hover" width="25px" height="25px" alt="">
                    </div>
                    <div class="menu-list rounded border border-secondary shadow-sm bg-dark text-center">
                        <div class="menu-item rounded text-muted small">usted no tiene notificaciones</div>
                    </div>
                </div>
                <div class="btn-icon svg-shadow">
                    <div class="icon-content">
                        <img src="assets/icons/userstatic.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/userhover2.apng" class="icon-hover" width="25px" height="25px" alt="">
                    </div>
                </div>
                <div class="btn-icon svg-shadow">
                    <div class="icon-content">
                        <img src="assets/icons/ajuste.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/ajustehover.apng" class="icon-hover" width="25px" height="25px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>