<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="search-container text-white position-relative w-100">
                <i class="bi bi-search position-absolute text-muted"></i>
                <input type="text" class="search-in w-100 rounded pl-2" placeholder="ingrese lo que recuerde" [(ngModel)]="search" (ngModelChange)="buscar()">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="d-flex flex-row justify-content-between align-item-center mt-2">
                <div class="btn-icon svg-shadow menu">
                    <div class="icon-content position-relative">
                        <img src="assets/icons/noti.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/notihover.apng" class="icon-hover" width="25px" height="25px" alt="">
                        <p [hidden]="notificaciones.length==0" class="small bg-danger  text-white px-1 rounded-circle position-absolute top-0 start-100 translate-middle text-center" >{{notificaciones.length}}</p>
                    </div>
                    <div class="menu-list rounded border border-secondary shadow-sm bg-dark text-center" style="width: fit-content;">
                        <div class="menu-item rounded text-muted small" [hidden]="notificaciones.length>0">usted no tiene notificaciones</div>
                        <div *ngFor="let item of notificaciones" style="white-space: nowrap" class="menu-item rounded text-white small">{{item.nombre}}</div>
                      
                    </div>
                </div>
                <div class="btn-icon svg-shadow menu">
                    <div class="icon-content">
                        <img src="assets/icons/userstatic.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/userhover2.apng" class="icon-hover" width="25px" height="25px" alt="">
                    </div>
                    <div class="menu-list rounded border border-secondary shadow-sm bg-dark text-center">
                        <div class="menu-item rounded text-white small" style="white-space: nowrap;">{{storage.retrieve('usuario').usuario}}</div>
                        <div class="menu-item rounded text-white small" style="white-space: nowrap;" routerLink="/menu/perfil">Editar perfil</div>
                        <!-- <hr class="text-muted"> -->
                        <div class="menu-item rounded text-white small" style="white-space: nowrap;" (click)="logout()">Cerrar sesion</div>
                    </div>
                </div>
                <div class="btn-icon svg-shadow">
                    <div class="icon-content">
                        <img src="assets/icons/ajuste.png" class="icon" width="25px" height="25px" alt="">
                        <img src="assets/icons/ajustehover.apng" class="icon-hover" width="25px" height="25px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>