<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="search-container text-white position-relative w-100">
                <i class="bi bi-search position-absolute text-muted"></i>
                <input type="text" class="search-in w-100 rounded pl-2" placeholder="ingrese lo que recuerde">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="d-flex flex-row justify-content-between align-item-center mt-2">
            <i class="bi bi-bell-fill h5 text-white"></i>
            <i class="bi bi-person-fill h5 text-white"></i>
        </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>