<div class="text-center d-flex justify-content-center align-item-center flex-column">
    <div class="d-flex flex-row justify-content-between align-item-center">
        <button class="btn h2 text-muted" (click)="cambiarMes('menos')"><i class="bi bi-chevron-left"></i></button>
        <h1 class="text-white text-shadow">{{fecha | date: 'MMMM'}}</h1>
        <button class="btn h2 text-muted" (click)="cambiarMes('mas')"><i class="bi bi-chevron-right"></i></button>
    </div>
    <h5 class="text-muted small ">{{fecha | date : 'yyyy'}}</h5>
    <ol>
        <li class="day-name">Lun</li>
        <li class="day-name">Mar</li>
        <li class="day-name">Mié</li>
        <li class="day-name">Jue</li>
        <li class="day-name">Vie</li>
        <li class="day-name">Sáb</li>
        <li class="day-name">Dom</li>

        <button *ngFor="let item of dias;let i = index" class="dia rounded menu" [ngClass]="{'selected': day==(item.dia) && selected.month() == month,
             'present': (item.dia) == now.date() && month == now.month(),
            'not-available': not_alloweds(item.dia)}" [class]="occupied_partials(item)" (click)="select(item.dia)"
            [ngStyle]="{'grid-column-start': i== 0?weeknumber:0}" [disabled]="occupied_partials(item)=='occupied-total'">
            {{item.dia}}
            <div class="menu-list rounded border shadow-sm bg-dark text-center calendar-menu" *ngIf="item.detalles.length>0">
                <div *ngFor="let item2 of item.detalles" class="menu-item rounded small">{{item2}}</div>
            </div>
        </button>
    </ol>
</div>