<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <form action="" class="solicitud-form p-4 border border-secondary shadow-sm rounded">
                <h1 class="h3 text-white">Solicitud de videoconferencia</h1>
                <div class="input-content mt-4">
                    <label for="nombre" class="in-text text-muted">nombre</label>
                    <input type="text" id="nombre" class="in">
                </div>
                <div class="input-content mt-4">
                    <label for="nombre" class="in-text text-muted">descripcion</label>
                    <input type="text" id="descripcion" class="in">
                </div>
                <div class="input-content mt-4">
                    <label for="nombre" class="in-text text-muted">citado</label>
                    <input type="text" id="citado" class="in">
                </div>
                <button class="btn btn-dark mt-4">Aceptar</button>
                <!-- <div class="input-content">
                    <label for="nombre" class="in-text">nombre</label>
                    <input type="text" id="nombre" class="in">
                </div> -->
            </form>
        </div>
        <div class="col-sm-4">
            <!-- <app-calendar></app-calendar> -->
            <app-calendario></app-calendario>
        </div>
    </div>
</div>