.input-content label{
  left: 5px;
  top: -20px;
  font-size: 80%;
}
.input-content{
  margin: 5px;
  color: white;
  border: 1px solid #6c757d;
}

.inselecte {
  border: none;
  width: 95%;
  color: white;
  height: 40px;
}
.in:disabled{
  color: #6b6b6b;
  cursor: not-allowed;
}

.checkbox{
  outline: none;
  border: none;
  border-radius: 0.1em;
}

.in{
  border: none;
  width: 95%;
  padding: 10px;
}

select.inselect{
  background-color: transparent;
  width: 20px;
  border: 0;
  outline: 0;
  color: white;
  padding: 0;
}

select.inselect::-ms-expand {
  display: none;
}

select.inselect {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.in::placeholder{
  font-size: small;
  text-overflow: ellipsis;
}

.leyenda.menu .menu-list{
  padding: 10px;
  width: fit-content;
  /* white-space: nowrap; */
}

.input-content.error{
  color: #7e2c34;
  border: 1px solid #7e2c34;
}

.btn:disabled{
  cursor: not-allowed;
}

select:disabled{
  color: #4d4f51;
  cursor: not-allowed;
}