<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-8">
            <div class="w-75 position-relative" *ngIf="!selected_once" [@slider]="'enter'">
                <button class="btn position-absolute" style="margin-top: 25px;left: -40px;"><i
                    class="bi bi-chevron-left text-white h5" routerLink="../listado"></i></button>
                <h1 class="display-3 text-white">Seleccione un día</h1>
                <p class="text-white mt-4">Usted debe seleccionar un día valido en el calendario antes de poder acceder al
                    formulario de la videoconferencia. Tenga presente la leyenda de colores en el lado derecho del calendario. Debe asegurarse de que todos los datos ingresados sean correctos de otra forma no podrá editarlos más adelante.</p>
            </div>
            <div class="d-flex justify-content-start align-item-center position-relative" *ngIf="selected_once" [@slider]="'enter'">
                <button class="btn position-absolute" style="margin-top: -5px;left: -40px;"><i
                        class="bi bi-chevron-left text-white h5" routerLink="../listado"></i></button>
                <h5 class="h5 text-white">Solicitud de videoconferencia</h5>
            </div>
            <form action="" *ngIf="selected_once" [@slider]="'enter'"
                class="solicitud-form p-4 border border-secondary shadow-sm rounded d-flex flex-row flex-wrap">

                <div class="input-content mt-4 rounded border border-secondary position-relative" style="width: 31%;">
                    <label for="nombre" class="in-text text-white position-absolute small">Nombre:</label>
                    <input type="text" id="nombre" class="in small" placeholder="Nombre de la videoconferencia"
                        name="nombre" [(ngModel)]="solicitud.nombre">
                </div>

                <div
                    class="input-content mt-4 rounded position-relative d-flex justify-content-center align-item-center px-2 w-25">
                    <label for="nombre" class="in-text text-white position-absolute small">Citado:</label>
                    <select name="citado" id="citado" class="inselect small w-100" [(ngModel)]="solicitud.citado_por" [disabled]="storage.retrieve('usuario').rol!='admin'">
                        <option value="undefined" class="bg-dark text-muted" selected>Seleccione su usuario</option>
                        <option [value]="item.id" *ngFor="let item of usuarios" class="bg-dark text-muted">
                            {{item.usuario}}</option>
                    </select>
                </div>
                <div class="input-content mt-4 rounded border border-secondary position-relative" style="width: 31%;">
                    <label for="cantidad" class="in-text text-white position-absolute small">Personas:</label>
                    <input type="tex" id="cantidad" class="in" placeholder="cantidad estimada de personas que asistiran"
                        name="cantidad" [disabled]="disable_all" [(ngModel)]="solicitud.cant_personas">
                </div>
                <div class="input-content mt-4 rounded border border-secondary position-relative px-2"
                    style="width: 20%;">
                    <label for="horario" class="in-text text-white position-absolute small">Horario:</label>
                    <select id="horario" class="inselecte bg-darki small shadow-sm" name="horario" [(ngModel)]="horario"
                        (ngModelChange)="rellenarHorasMin()" [disabled]="disable_all || disable"
                        placeholder="Horario a realizar la videoconferencia">
                        <option value="-1" class="bg-dark text-muted" selected>(Seleccione el horario)</option>
                        <option value="0" (click)="solicitud.mannana=true;solicitud.tarde=false;"
                            class="bg-dark text-muted">Mañana</option>
                        <option value="1" (click)="solicitud.mannana=false;solicitud.tarde=true;"
                            class="bg-dark text-muted">Tarde</option>
                        <!-- <option value="2" (click)="solicitud.mannana=true;solicitud.tarde=true;"
                            class="bg-dark text-muted">Todo el dia</option> -->
                    </select>
                </div>

                <div class="input-content mt-4 rounded position-relative d-flex justify-content-center align-item-center px-2"
                    style="width: fit-content;" [ngClass]="{'error': error()}">
                    <label for="hora_ini" class="in-text position-absolute small">Hora inicio:</label>
                    <select name="hora_inicio" id="hora_inicio" class="inselect small"
                        [(ngModel)]="solicitud.hora_inicio" style="width: 30px;" [disabled]="disable_all">
                        <option class="bg-dark text-muted" *ngFor="let item of horas_inicio" [value]="item">{{item
                            <10?'0'+item:item>12?'0'+(item-12):item}}
                        </option>
                    </select>
                    <label for="" class="text-white mt-2">:</label>
                    <select name="minuto_inicio" id="minuto_inicio" class="inselect small"
                        [(ngModel)]="solicitud.minuto_inicio" style="width: 30px;" [disabled]="disable_all">
                        <option class="bg-dark text-muted" *ngFor="let item of minutos_inicio" [value]="item">{{item
                            <10?'0'+item:item}} </option>
                    </select>
                    <select name="horario" id="" class="inselect small" style="width: 30px;margin-inline: 0px;"
                        [(ngModel)]="horario" [disabled]="disable || disable_all">
                        <option class="bg-dark text-muted" value="0">AM</option>
                        <option class="bg-dark text-muted" value="1">PM</option>
                    </select>
                </div>
                <div class="input-content mt-4 rounded position-relative d-flex justify-content-center align-item-center px-2"
                    style="width: fit-content;" [ngClass]="{'error': error()}">
                    <label for="hora_fin" class="in-text position-absolute small">Hora final:</label>
                    <select name="hora_fin" id="hora_fin" class="inselect small" style="width: 30px;"
                        [(ngModel)]="solicitud.hora_fin" [disabled]="disable_all">
                        <option class="bg-dark text-muted" *ngFor="let item of horas_fin">{{item
                            <10?'0'+item:item>12?'0'+(item-12):item}}
                        </option>
                    </select>
                    <label for="" class="text-white mt-2">:</label>
                    <select name="minuto_fin" id="minuto_fin" class="inselect small" style="width: 30px;"
                        [(ngModel)]="solicitud.minuto_fin" [disabled]="disable_all">
                        <option class="bg-dark text-muted" *ngFor="let item of minutos_fin">{{item<10?'0'+item:item}}
                                </option>
                    </select>
                    <select name="horario" id="" class="inselect small" style="width: 30px;margin-inline: 0px;"
                        [(ngModel)]="horario" [disabled]="disable || disable_all">
                        <option class="bg-dark text-muted" value="0">AM</option>
                        <option class="bg-dark text-muted" value="1">PM</option>
                    </select>
                </div>
                <div
                    class="input-content mt-4 rounded position-relative d-flex justify-content-center align-item-center px-2 w-25">
                    <label for="sindicato" class="in-text position-absolute small">Sindicato:</label>

                    <select name="sindicato" id="sindicato" class="inselect small w-100"
                        [(ngModel)]="solicitud.sindicato" [disabled]="disable_all">
                        <option value="-1" selected>Seleccione un sindicato</option>
                        <option [value]="item.id" *ngFor="let item of sindicatos" class="bg-dark text-muted">
                            {{item.nombre}}</option>
                    </select>
                </div>
                <!-- <div class="input-content mt-4 rounded border border-secondary position-relative w-25">
                    <label for="hora_fin" class="in-text text-muted position-absolute small">Adjunto:</label>
                    <input type="file" class="in" placeholder="Comprimido con los archivos">
                    <label for="" class="p-2 small text-muted" style="text-overflow: ellipsis;white-space: nowrap;width: 90%;">Tenga presente que solo tiene hasta el dia antes para
                        subir los archivos, luego este campo pasará a estar bloqueado y no podra editarse</label>
                </div> -->
                <div class=" mt-4 pt-2 rounded border-none position-relative px-2">
                    <input type="checkbox" name="disable" id="disable" [(ngModel)]="solicitud.not_allowed"
                        (click)="disabled()" class="checkbox">
                    <label for="disable" class="in-text text-white small mx-2">deshabilitar dia</label>
                </div>
                <div class="input-content mt-4 rounded border border-secondary position-relative w-100">
                    <label for="nombre" class="in-text text-white position-absolute small">Descripción:</label>
                    <textarea type="text" id="descripcion" class="in" style="height: 100px;overflow-y: auto;"
                        placeholder="Descripción sobre que trata la videoconferencia, asi como sindicatos asociados.."
                        name="descripcion" [(ngModel)]="solicitud.descripcion"></textarea>
                </div>

                <button class="btn btn-dark mt-4" (click)="addVideoConferencia()"
                    [disabled]="(error() || solicitud.nombre.length==0 || solicitud.citado_por.length==0 || solicitud.descripcion.length==0 || horario==-1) && solicitud.not_allowed == false">Aceptar</button>
                <!-- <div class="input-content">
                    <label for="nombre" class="in-text">nombre</label>
                    <input type="text" id="nombre" class="in">
                </div> -->
            </form>
        </div>
        <div class="col-sm-3" [@slideb]="'enter'">
            <app-calendario [not_allowed]="not_allowed" [selected]="selected" [dates]="dates" (emisor)="select($event)">
            </app-calendario>
        </div>
        <div class="col-sm-1 d-flex justify-content-center align-item-center flex-column" [@slidel]="'enter'">
            <div class="menu bg-danger text-danger leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-danger text-center">
                    <div class="menu-item rounded small">Dia ocupado totalmente</div>
                </div>
            </div>
            <div class="menu bg-warning text-warning leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-warning text-center">
                    <div class="menu-item rounded small">Parcialmente ocupado</div>
                </div>
            </div>
            <div class="menu bg-success text-success leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-success text-center">
                    <div class="menu-item rounded small">Dia seleccionado</div>
                </div>
            </div>
            <div class="menu bg-primary text-primary leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-primary text-center">
                    <div class="menu-item rounded small">Dia actual</div>
                </div>
            </div>
            <div class="menu bg-info text-info leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-info text-center">
                    <div class="menu-item rounded small">Pendiente a aprobacion</div>
                </div>
            </div>
            <div class="menu bg-secondary text-muted leyenda rounded shadow-md mt-1" style="width: 50%;height: 20px;">
                <div class="menu-list rounded border shadow-sm bg-dark border-secondary text-center">
                    <div class="menu-item rounded small">Dia deshabilitado por otras operaciones</div>
                </div>
            </div>

        </div>
    </div>
</div>