.input-content label{
  left: 5px;
  top: -20px;
  font-size: 80%;
}
.input-content{
  width: 49%;
}

.in{
  border: none;
  width: 95%;
  padding: 10px;
}

option{
  background: red;
}

.in::placeholder{
  font-size: small;
  text-overflow: ellipsis;
}

.leyenda.menu .menu-list{
  padding: 10px;
  width: fit-content;
  /* white-space: nowrap; */
}

