<form action="" class="text-center">
    <i class="bi bi-person display-1 text-muted"></i>
    <p class="text-muted">Por favor autentiquese primero </p>
    <div class="input-container m-2">
        <label class="text-muted" for="usuario"><i class="bi bi-person"></i> :</label>
        <input type="text" id="usuario" class="in">
    </div>
    <div class="input-container m-2">
        <label class="text-muted" for="password"><i class="bi bi-key"></i> :</label>
        <input type="password" id="password" class="in">
    </div>
</form>
