

form{
width: 300px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.dvelox{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    color: white;
    font-size: xx-large;
    font-weight: 900;
}

.titulo{
    width: 100%;
    text-align: center;
    line-height: 100%;
}