.in {
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    color: white;
    height: 40px;
    margin-left: 10px;
}

form{
width: 300px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}