<!-- <router-outlet></router-outlet> -->
<app-dashboard></app-dashboard>
<!-- <div class="w-100 d-flex justify-content-center align-item-center">
<img src="favicon.ico" style="width: 150px;height: 150px" alt="" [@photo]="action">
</div>
<button class="btn btn-dark" (click)="cambiarAction('spin')">SPIN</button>
<button class="btn btn-dark" (click)="cambiarAction('move')">MOVE</button>
<button class="btn btn-dark" (click)="cambiarAction('enlarge')">ENLARGE</button>
<button class="btn btn-dark" (click)="cambiarAction('spin')">SPIN</button> -->