<div class="container">
    <div class="row">
        <div class="col-sm-6 position-relative">
            <button class="btn text-white d-flex flex-row justify-content-center align-item-center position-absolute"
                style="top: -5px;
            left: -40px;" routerLink="../listado"><i class="bi bi-chevron-left h5 "></i></button>
            <h5 class="h5 text-white">Videoconferencias</h5>
            <div class="d-flex flex-wrap" style="max-height: 350px;overflow-y: auto;padding-top: 20px;">
                <div *ngFor="let item of videoconferencias | videoconferencia: storage.retrieve('usuario').rol=='admin'?'':storage.retrieve('usuario').usuario"
                    class="card bg-dark shadow-md m-1 mt-4 p-1 position-relative" style="width: 18rem;"
                    (click)="selected=item">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{item.nombre}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">solicitado por: {{item.citado_por.usuario}}</h6>
                        <small
                            class="card-subtitle mb-2 text-muted small position-absolute top-0 end-0 translate-middle p-2 border border-dark rounded bg-dark shadow-md">{{item.fecha
                            | date: 'dd/MM/yyyy'}}
                            <div class="d-flex">
                                <div class="icon-content" *ngIf="item.estado == 1">
                                    <img src="assets/icons/check.png" class="icon" width="25px" height="25px" alt="">
                                    <img src="assets/icons/checkhover.apng" class="icon-hover" width="25px"
                                        height="25px" alt="">
                                </div>
                                <div class="icon-content" *ngIf="item.estado == 2">
                                    <img src="assets/icons/denied.png" class="icon" width="25px" height="25px" alt="">
                                    <img src="assets/icons/deniedhover.apng" class="icon-hover" width="25px"
                                        height="25px" alt="">
                                </div>
                                <div class="icon-content" *ngIf="item.encargado.id!=1||item.tecnico_respaldo.id!=1">
                                    <img src="assets/icons/userstatic.png" class="icon" width="25px" height="25px" alt="">
                                    <img src="assets/icons/userhover2.apng" class="icon-hover" width="25px"
                                        height="25px" alt="">
                                </div>
                                <div class="icon-content" *ngIf="item.salon!=-1">
                                    <img src="assets/icons/piso.png" class="icon" width="25px" height="25px" alt="">
                                    <img src="assets/icons/pisohover.apng" class="icon-hover" width="25px"
                                        height="25px" alt="">
                                </div>
                                <div class="icon-content" *ngIf="item.estado==0">
                                    <img src="assets/icons/calendar.png" class="icon" width="25px" height="25px" alt="">
                                    <img src="assets/icons/calendarhover.apng" class="icon-hover" width="25px"
                                        height="25px" alt="">
                                </div>
                            </div>
                        </small>
                        <p class="card-text text-muted small">{{item.descripcion}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center align-item-center p-3" *ngIf="selected.nombre==undefined">
                <img src="assets/icons/videowait.apng" width="300px" class="svg-shadow" height="300px" alt="">
                <div class="d-flex flex-column">
                    <h5 class="display-5 text-white">Información</h5>
                    <p class="text-white " style="margin-top: 50px;">Seleccione la videoconferencia que desee saber los
                        detalles, aqui puede ver tambien si se encuentran en curso, salon y quienes estan encargados de
                        llevarla</p>
                </div>
            </div>
            <div class="d-flex justify-content-center align-item-center flex-column" *ngIf="selected.nombre!=undefined">
                <h5 class="h5 text-white">
                    Detalles de la videoconferencia
                </h5>
                <div class="d-flex">
                    <p class="small text-white">Nombre: </p>
                    <p class="small text-muted">{{selected.nombre}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Descripcion: </p>
                    <p class="small text-muted">{{selected.descripcion}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Solicitado: </p>
                    <p class="small text-muted">{{selected.citado_por.usuario}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Fecha: </p>
                    <p class="small text-muted">{{selected.fecha | date: 'dd/MM/yyyy'}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Hora inicio: </p>
                    <p class="small text-muted">{{selected.hora_inicio | date: 'HH:mm a'}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Hora fin: </p>
                    <p class="small text-muted">{{selected.hora_fin | date: 'HH:mm a'}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Encargado: </p>
                    <p class="small text-muted">{{selected.encargado.usuario}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Tecnico de respaldo: </p>
                    <p class="small text-muted">{{selected.tecnico_respaldo.usuario}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Cantidad de personas: </p>
                    <p class="small text-muted">{{selected.cant_personas}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Salon: </p>
                    <p class="small text-muted">{{selected.salon}}</p>
                </div>
                <div class="d-flex">
                    <p class="small text-white">Sindicato: </p>
                    <p class="small text-muted">{{selected.sindicato}}</p>
                </div>
            </div>
        </div>
    </div>
</div>