<div class="container">
    <div class="row">
        <div *ngFor="let item of menu" class="col-sm-4">
            <app-menu-item [imagen]="item.imagen" [titulo]="item.titulo" [subtitulo]="item.subtitulo"
                [descripcion]="item.descripcion" [accion]="item.accion"></app-menu-item>
        </div>
    </div>
    <div>
        <h1>Enero 2021</h1>
        <ol>
          <li class="day-name">Lun</li>
          <li class="day-name">Mar</li>
          <li class="day-name">Mié</li>
          <li class="day-name">Jue</li>
          <li class="day-name">Vie</li>
          <li class="day-name">Sáb</li>
          <li class="day-name">Dom</li>
      
          <li class="first-day">1</li>
          <li>2</li>
          <!-- ... -->
          <li>31</li>
        </ol>
      </div>
      
</div>