<div class="card w-100 shadow-lg bg-dark border border-secondary icon-content" (click)="navigatedTo()">
  <!-- <div class="w-100 text-white mt-3"><i class="m-3 bi h2" [class]="icono"></i></div> -->
  <!-- <img class="card-img-top" [src]="imagen" alt="Card image cap" style="width: 100%;max-height: 150px;"> -->
  <img [src]="imagen" class="m-2 icon" width="40px" height="40px" alt="">
  <img [src]="imagen_hover" class="m-2 icon-hover" width="40px" height="40px" alt="">
  <div class="card-body">
    <h5 class="card-title text-white">{{titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted small">{{subtitulo}}</h6>
    <p class="card-text text-muted small">{{descripcion}}</p>
  </div>
</div>