/* You can add global styles to this file, and also import other style files */
.menus {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.bg-darki {
    background-color: #2a2f34;
}

.btn-icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: all .3s ease-in-out;
}

.btn-icon:hover {
    color: #2a2f34;
}

.svg-shadow {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .7));
}

.menu {
    position: relative;
}

.menu-list {
    position: absolute;
    top: 30px;
    display: none;
    opacity: 0;
    max-height: 200px;
    max-width: 200px;
    background-color: white;
    z-index: 99;
    transition: all .3s ease-in-out;
}

.menu-item{
    width: 100%;
    padding: 10px;
}

.menu:hover .menu-list {
    display: block;
    opacity: 1;
    transition: all .3s ease-in-out;

}

.in {
    border: none;
    border-bottom: 1px solid #FFF;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    color: white;
    height: 40px;
    margin-left: 10px;
}

.text-shadow{
   text-shadow: 3px 0px 17px rgba(0,0,0,0.88);
}