/* You can add global styles to this file, and also import other style files */
.menus{
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.bg-darki{
    background-color: #2a2f34;
}

.btn-icon{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: all .3s ease-in-out;
}

.btn-icon:hover{
    color: #2a2f34;
}

.svg-shadow {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .7));
  }