<div class="position-fixed w-100 h-100 bg-dark">
    <div class="position-absolute bg-darki menus rounded shadow-lg border border-secondary">
        <div class="container-fluid">
            <div class="row">
                <h1 class="h1 text-white p-4 w-100 text-center text-shadow">Sistema de gestión de videoconferencias de
                    la CTC</h1>
            </div>
            <div class="row">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </div>
    </div>
</div>