<div class="position-fixed w-100 h-100 bg-dark">
    <div class="position-absolute bg-darki menus rounded shadow-lg">
        <div class="container-fluid">
            <div class="row">
                <h1 class="h1 text-white p-4 w-100 text-center" style="text-shadow: 3px 0px 17px rgba(0,0,0,0.88);">Sistema de gestión de videoconferencias de la CTC</h1>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>